*{
  box-sizing: border-box;
}

html{
  font-size: calc(1em + 1vw);
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: rgb(12, 39, 69);
}

header{
  background-image: url("img/royal-blue.jpg");
  text-align: center;
  background-size: cover;
  /*background-image: linear-gradient(black,black,url(img/royal-blue.jpg));*/
  background-position: center;
  padding: 0 0 1rem 0;
}

header nav ul{
  margin: 1rem 0 0 0;
  padding: 0;
}

header nav span{
  font-weight: 900;
  text-transform: uppercase;
}

nav a{
  text-decoration: solid;
  color: white;
}

main{
  text-align: center;
}

h1{
  text-align: center;
  font-weight: 1000;
  color: #f7eeb0;
  outline: auto;
  background-color: rgb(34, 57, 101);
}

